.sidebar_container {
  position: fixed;
  background-color: #27272a;
  height: 100vw;
  width: 234px;
  top: 95px;
  overflow: hidden;
  transition: width 0.5s;
  border-right: 1px solid #414144;
}

// .sidebar__header {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 8px 20px 8px 20px;
//   color: #a1a1aa;
//   border-bottom: 1px solid #414144;

//   &__title {
//     display: flex;
//     flex-direction: column;
//   }
//   &__subtitle {
//     font-size: 10px;
//   }
// }

.list_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 8px;
}
